---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-8 markdown-body">

            {{ content }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>
    <div class="row">
        <div id="gitmentContainer"></div>
         <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
         <script src="https://billts.site/js/gitment.js"></script>
         <script>
         var gitment = new Gitment({
             id: '<%= page.date %>'
             owner: 'coderlindacheng',
             repo: 'coderlindacheng.github.io',
             oauth: {
                 client_id: '42227a8bebbe2bf03059',
                 client_secret: '415dd6e95fa73a2cf6d667c869e2c9634f79d8ca',
             },
         });
         gitment.render('gitmentContainer');
         </script>
    </div>

</article>
